{{!-- Lists each item of array; data-id and data-newdevour values sent to server via burgers.js PUT method --}}
<li class="list-group-item">
	<p>{{id}}. {{burger_name}}</p>
	<button class="update-devour-state" data-id="{{id}}" 
	data-newdevour="{{devour}}">Devour it!</button>	
</li>	